# EditorConfig helps maintain consistent coding styles across editors
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_line = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.go]
indent_style = tab

[*.dart]
indent_style = space
indent_size = 2
