--
-- PostgreSQL database dump
--

\restrict uYl3w0jGNp8BM1wm9t6Oi1lSo4ptyjvfCLDACqW0WApFjVTkRsqiSFIbBpcbRBn

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: glou
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    role character varying(20) DEFAULT 'user'::character varying NOT NULL,
    display_name text,
    avatar_url text,
    tagline text,
    preferred_locale character varying(2),
    date_time_format character varying(20) DEFAULT 'system'::character varying NOT NULL,
    temperature_unit character varying(2) DEFAULT 'c'::character varying NOT NULL,
    theme_mode character varying(10) DEFAULT 'dark'::character varying NOT NULL,
    accent_color character varying(16) DEFAULT '#c5a059'::character varying NOT NULL,
    notification_settings jsonb DEFAULT '{}'::jsonb NOT NULL,
    ai_api_key text,
    CONSTRAINT users_date_time_format_check CHECK (((date_time_format)::text = ANY ((ARRAY['system'::character varying, '24h'::character varying, '12h'::character varying])::text[]))),
    CONSTRAINT users_preferred_locale_check CHECK (((preferred_locale IS NULL) OR ((preferred_locale)::text = ANY ((ARRAY['en'::character varying, 'fr'::character varying])::text[])))),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'user'::character varying])::text[]))),
    CONSTRAINT users_temperature_unit_check CHECK (((temperature_unit)::text = ANY ((ARRAY['c'::character varying, 'f'::character varying])::text[]))),
    CONSTRAINT users_theme_mode_check CHECK (((theme_mode)::text = ANY ((ARRAY['dark'::character varying, 'light'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO glou;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: glou
--



--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: glou
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: glou
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: glou
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- PostgreSQL database dump complete
--

\unrestrict uYl3w0jGNp8BM1wm9t6Oi1lSo4ptyjvfCLDACqW0WApFjVTkRsqiSFIbBpcbRBn

