-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "app_settings" (
    "id" BOOLEAN NOT NULL DEFAULT true,
    "app_name" TEXT,
    "app_tagline" TEXT,
    "logo_url" TEXT,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ai_api_key" TEXT,
    "smtp_host" TEXT,
    "smtp_port" INTEGER,
    "smtp_user" TEXT,
    "smtp_pass" TEXT,
    "smtp_from" TEXT,
    "smtp_secure" BOOLEAN DEFAULT false,

    CONSTRAINT "app_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bottles" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "cellar_id" UUID NOT NULL,
    "category" VARCHAR(20) NOT NULL,
    "label" VARCHAR(120) NOT NULL,
    "producer_name" VARCHAR(120),
    "house_name" VARCHAR(120),
    "distillery_name" VARCHAR(120),
    "brand_name" VARCHAR(120),
    "name_edition" VARCHAR(160) NOT NULL,
    "vintage_or_none" VARCHAR(10) NOT NULL DEFAULT 'NV',
    "abv" DECIMAL(4,1),
    "is_opened" BOOLEAN NOT NULL DEFAULT false,
    "fill_level" VARCHAR(20),
    "color" VARCHAR(40),
    "appellation" VARCHAR(120),
    "grapes" VARCHAR(160),
    "format" VARCHAR(40),
    "serving_temp" VARCHAR(40),
    "wine_lot_number" VARCHAR(60),
    "carafing" VARCHAR(80),
    "requires_aeration" BOOLEAN,
    "style" VARCHAR(60),
    "dosage" VARCHAR(60),
    "disgorgement" VARCHAR(60),
    "pressure" VARCHAR(60),
    "base_wine" VARCHAR(120),
    "bottling_date" VARCHAR(60),
    "base_year" INTEGER,
    "age_statement" VARCHAR(40),
    "cask_type" VARCHAR(120),
    "batch" VARCHAR(60),
    "additive_note" VARCHAR(160),
    "angel_share" VARCHAR(120),
    "aroma_profile" VARCHAR(200),
    "format_box" VARCHAR(40),
    "cigar_format" VARCHAR(40),
    "quantity_in_box" INTEGER,
    "manufacture_year" INTEGER,
    "seal_state" VARCHAR(30),
    "leaf_origin" VARCHAR(120),
    "factory_code" VARCHAR(60),
    "target_humidity" DECIMAL(3,1),
    "humidification_system" VARCHAR(120),
    "location" VARCHAR(80),
    "collection" VARCHAR(80),
    "photo_url" TEXT,
    "estimated_value" DECIMAL(12,2),
    "peak_maturity_from" INTEGER,
    "peak_maturity_to" INTEGER,
    "alert_status" VARCHAR(20) DEFAULT 'none',
    "tasting_note" VARCHAR(240),
    "purchase_place" VARCHAR(160),
    "purchase_price" DECIMAL(10,2),
    "tags" VARCHAR(40)[] DEFAULT ARRAY[]::VARCHAR(40)[],
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "binder" VARCHAR(80),
    "filler" VARCHAR(80),

    CONSTRAINT "bottles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cellars" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "cellar_type" VARCHAR(50) NOT NULL,
    "location_description" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "placement" TEXT,
    "model_name" TEXT,
    "bottle_capacity" INTEGER,
    "shelf_count" INTEGER,

    CONSTRAINT "caves_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "security_events" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "event_type" VARCHAR(100) NOT NULL,
    "ip_address" VARCHAR(45),
    "user_agent" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "security_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "two_fa_settings" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "method" VARCHAR(20) NOT NULL DEFAULT 'none',
    "totp_secret" VARCHAR(255),
    "webauthn_credentials" JSONB,
    "recovery_codes_hash" JSONB,
    "enabled_at" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "two_fa_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "username" VARCHAR(50) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password_hash" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "role" VARCHAR(20) NOT NULL DEFAULT 'user',
    "display_name" TEXT,
    "avatar_url" TEXT,
    "tagline" TEXT,
    "preferred_locale" VARCHAR(2),
    "date_time_format" VARCHAR(20) NOT NULL DEFAULT 'system',
    "temperature_unit" VARCHAR(2) NOT NULL DEFAULT 'c',
    "theme_mode" VARCHAR(10) NOT NULL DEFAULT 'dark',
    "accent_color" VARCHAR(16) NOT NULL DEFAULT '#c5a059',
    "notification_settings" JSONB NOT NULL DEFAULT '{}',
    "ai_api_key" TEXT,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "webauthn_credentials" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "credential_id" VARCHAR(255) NOT NULL,
    "public_key" TEXT NOT NULL,
    "counter" INTEGER NOT NULL,
    "name" VARCHAR(255),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "webauthn_credentials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "failed_login_attempts" (
    "id" UUID NOT NULL,
    "username" VARCHAR(50) NOT NULL,
    "ip_address" VARCHAR(45) NOT NULL,
    "attempted_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(6) NOT NULL,

    CONSTRAINT "failed_login_attempts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "device_name" VARCHAR(255),
    "ip_address" VARCHAR(45),
    "is_trusted" BOOLEAN DEFAULT false,
    "last_activity_at" TIMESTAMP(6) NOT NULL,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_bottles_alert" ON "bottles"("alert_status");

-- CreateIndex
CREATE INDEX "idx_bottles_category" ON "bottles"("category");

-- CreateIndex
CREATE INDEX "idx_bottles_cellar_id" ON "bottles"("cellar_id");

-- CreateIndex
CREATE INDEX "idx_bottles_status" ON "bottles"("is_opened");

-- CreateIndex
CREATE INDEX "idx_bottles_user_id" ON "bottles"("user_id");

-- CreateIndex
CREATE INDEX "idx_cellars_user_id" ON "cellars"("user_id");

-- CreateIndex
CREATE INDEX "idx_security_events_created_at" ON "security_events"("created_at");

-- CreateIndex
CREATE INDEX "idx_security_events_user_id" ON "security_events"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "two_fa_settings_user_id_key" ON "two_fa_settings"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "webauthn_credentials_credential_id_key" ON "webauthn_credentials"("credential_id");

-- CreateIndex
CREATE INDEX "idx_webauthn_credentials_user_id" ON "webauthn_credentials"("user_id");

-- CreateIndex
CREATE INDEX "idx_failed_login_attempts_expires_at" ON "failed_login_attempts"("expires_at");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_token_key" ON "sessions"("token");

-- CreateIndex
CREATE INDEX "idx_sessions_expires_at" ON "sessions"("expires_at");

-- CreateIndex
CREATE INDEX "idx_sessions_user_id" ON "sessions"("user_id");

-- AddForeignKey
ALTER TABLE "bottles" ADD CONSTRAINT "fk_bottles_cellar" FOREIGN KEY ("cellar_id") REFERENCES "cellars"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "bottles" ADD CONSTRAINT "fk_bottles_user" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cellars" ADD CONSTRAINT "caves_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "security_events" ADD CONSTRAINT "security_events_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "two_fa_settings" ADD CONSTRAINT "two_fa_settings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "webauthn_credentials" ADD CONSTRAINT "webauthn_credentials_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

